@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .Main {
    background: linear-gradient(180deg, rgba(249, 245, 242, 0) 0%, #faf3ee 100%);

    width: 100%;
    max-width: 375px;
    height: 100%;
    max-height: 812px;
    border-radius: 5px;
    position: relative;

    .balance-form {
      padding: 15px;

      .container {
        border: 1px solid #000;
        border-radius: 10px;

        .detail {
          padding: 15px;
          background: #efe6dd;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;

            h1 {
              font-size: 28px;
              line-height: 32.81px;
              font-weight: 700;
            }

            img {
              width: 25.23px;
              height: 23.51px;
            }
          }

          p {
            font-family: "Roboto Mono", monospace;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
          }
        }

        .card-input {
          width: 100%;
          height: 50px;
          background: #fff;
          position: relative;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          input {
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: none;
            border-top: 1px solid #000;

            padding: 15px;
            font-family: "Roboto Mono", monospace;
            font-size: 14px;
            color: #292929;
            font-weight: 400;

            &::placeholder {
              font-size: 14px;
              color: rgba(62, 52, 43, 0.5);
            }

            &:focus {
              outline: none;
            }
          }

          .close {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            cursor: pointer;
            transition: 0.3s ease-in-out all;

            &:hover {
              font-size: 22px;
            }
          }
        }

        .invalid-input-border {
          input {
            border-top: 1px solid #ff4d00;
            border-bottom: 1px solid #ff4d00;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }

        .validations {
          height: 55px;
          background: #eeebe8;
          border-top: 1px solid #000;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          p {
            font-family: "Roboto Mono", monospace;
            font-size: 14px;
            font-weight: 700;
          }
        }

        .invalid-validations-border {
          border-top: none;
        }
      }

      .check-button {
        margin-top: 15px;
        background: #000;
        border-radius: 10px;
        color: #fff;
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out all;

        &:hover {
          background: #292929;
        }
      }
    }
  }
}
